.countrys {
    @include adaptive-value("padding-bottom", 120, 47, 1);
    padding-top: 117px;
    position: relative;

    @media (max-width: 992px) {
        padding-top: 70px;
    }

    @media (max-width: 768px) {
        padding-top: 130px;
    }

    // .countrys__container

    &__container {
        margin-bottom: 50px;
    }

    // .countrys__body

    &__body {
        h1 {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: $mobileWidthMax) {
                flex-wrap: wrap;
                justify-content: center;

                span {
                    margin: 0 0.25em;
                }
            }
        }
    }
    // .countrys__tabs

    &__tabs {
        @include adaptive-value("margin-bottom", 40, 20, 1);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        place-content: center;

        @media (min-width: $mobileWidthMin) {
            @include adaptive-value("margin-top", 73, 58, 1);
        }

        @media (max-width: $mobileWidthMax) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 425px) {
            grid-template-columns: repeat(2, 1fr);
        }

        a {
            height: 60px;
            width: 100%;

            text-transform: uppercase;

            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $mainColor;
            border-radius: 10px;
            @include adaptive-value("font-size", 18, 14, 1);

            text-align: center;
            font-style: normal;
            font-weight: 700;
            line-height: 1.33;
            color: $mainColor;
            transition: all 0.15s ease 0s;

            &.custom-choise {
                font-style: italic;
                border-color: $red;
            }

            @media (max-width: $mobileWidthMax) {
                height: 40px;
                border-radius: 6px;
            }

            span {
                flex: 1 1 auto;
                display: block;
            }

            @media (any-hover: hover) {
                &:hover {
                    border: 1px solid $red;

                    span {
                        color: $red;
                    }
                }
            }
        }
    }

    // .countrys__image

    &__image {
        position: relative;

        &:before {
            position: absolute;
            content: "";
            left: 50%;
            top: -10px;
            transform: translate(-50%, 0);
            width: 100%;
            max-width: 1180px;
            height: 10px;
            background: $red;

            @media (max-width: $mobileWidthMax) {
                display: none;
            }
        }

        img {
            object-fit: cover;
            width: 100%;

            @media (max-width: $mobileWidthMax) {
                height: 316px;
            }
        }
    }
}

.country {
    @media (min-width: $mobileWidthMin) {
        @include adaptive-value("padding-bottom", 417, 133, 1);
    }

    @media (max-width: $mobileWidthMax) {
        margin-bottom: 60px;

        &:after {
            margin-top: 27px;
        }
    }

    // .country__container

    &__container {
    }

    // .country__body

    &__body {
    }

    // .country__cart

    &__cart {
        display: flex;
        flex-direction: column;

        // .country__cart-content

        &-content {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            background-color: $lightGray;
            padding: 11px 15px 21px 15px;
            border-radius: 5px;
            margin-bottom: 13px;

            @media (max-width: $mobileWidthMax) {
                background-color: unset;
                padding: 0;
            }

            h4 {
                flex: 1 1 auto;
                margin-bottom: 10px;

                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 1.29;
                color: $mainColor;

                span {
                    margin-left: 4px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 1;
                }

                @media (max-width: 425px) {
                    text-align: center;
                }
            }

            img {
                max-width: 100%;
                max-height: 207px;
            }
        }

        button,
        a {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 1;
            color: $mainColor;

            @media (any-hover: hover) {
                &:hover {
                    color: $red;
                }
            }

            @media (max-width: 425px) {
                display: flex;
                margin: 0 auto;
            }
        }
    }
    // .country__item

    &__item {
        width: 100%;

        position: relative;

        &:not(:last-of-type) {
            @include adaptive-value("margin-bottom", 56, 40, 1);

            &:after {
                margin-top: 41px;
                display: block;
                content: "";
                border-radius: 5px;
                background-color: $lightGray;
                @include adaptive-value("height", 90, 45, 1);
                width: 100%;

                background-image: url("@img/noise-big.png");
            }
        }

        // .country__item-top

        &-top {
            img {
                margin: 15px 0;
                height: 28px;
                width: 40px;
            }

            @media (max-width: $mobileWidthMax) {
                flex-direction: column;
                align-items: center;

                img {
                    margin: 15px 0 0 0;
                }
            }
        }
    }

    // .country__grid

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 22px;

        @media (max-width: $mobileWidthMax) {
            grid-template-columns: repeat(2, 1fr);
            gap: 22px;
        }
    }
}
